/*
テーマカラー
Plantation(グリーン)
#2b5a41
R:43 G:90 B:65

Akaroa(アイボリー)
#F9EED3
R:249 G:238 B:211

ブレークポイント
2023年各端末の画面幅
スマートフォン：320px〜590px
タブレット：768px〜1,024px
PC：1,280px〜

タブレットの画面幅を起点として
@media (min-width:750px)
@media (min-width:1025px)
*/

/* root */
:root {
	--main-color: rgb(43, 90, 65);
	--main-color-with-opacity: rgba(43, 90, 65, 0.6);
	--sub-color: rgb(74, 122, 94);
	--background-color: rgb(249, 238, 211);
	--background-color-with-opacity: rgba(239, 228, 201, 0.6);
}

/* common */
body {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
input,
textarea {
	color: var(--main-color);
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 18px;
}

a {
	font-weight: bold;
	opacity: 100%;
}

a:hover {
	opacity: 70%;
}

button {
	width: 100%;
	border: 1px solid var(--main-color);
	border-radius: 0;
	margin-top: 10px;
	padding: 10px 0px;
	background-color: var(--background-color);
	font-size: 20px;
	font-weight: bold;
	color: var(--main-color);
	transition: 0.3s;
}

button:hover {
	color: var(--background-color);
	background-color: var(--main-color);
	transition: 0.3s;
}

button[disabled] {
	background-color: var(--background-color-with-opacity);
	color: var(--main-color-with-opacity);
	pointer-events: none;
}

@media (min-width:750px) {
	h1 {
		font-size: 18px;
	}

	br.sp {
		display: none;
	}
}

@media (min-width:1025px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

	br.sp {
		display: none;
	}
}

/* ヘッダー */
header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.header-menu {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header-menu-title {
	text-align: center;
	width: fit-content;
}

.header-menu-title a {
	font-weight: bold;
	text-decoration: none;
	opacity: 100%;
}

.header-menu-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.header-menu-container div {
	width: fit-content;
	margin: 0.83em 0 0 auto;
	text-align: right;
}

.header-menu-login {
	white-space: nowrap;
}

.header-menu-cart {
	align-self: center;
	width: 30%;
}

@media (min-width:750px) {
	.header-menu {
		align-items: center;
	}

	.header-menu-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.header-menu-container div {
		width: fit-content;
		margin: unset;
		text-align: center;
	}
}

/* 共通 */
main {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-evenly;
}

.main-container {
	/* メインコンテンツの箱 */
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.main-container:not(#top) {
	margin-top: 80px;
}

.column-center {
	/* 縦並び、中央寄せ、幅調整 */
	align-items: center;
	display: flex;
	flex-flow: column;
	gap: 20px 0;
}

.row-center {
	/* 縦並び、中央寄せ */
	display: flex;
	justify-content: center;
}

.row-space-around {
	/* 縦並び、均等配置と両端に間隔 */
	display: flex;
	justify-content: space-around;
}

/* 入力フォーム */
.input-form {
	align-items: center;
	background-color: var(--background-color-with-opacity);
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	gap: 20px 0;
	justify-content: center;
	min-width: 40%;
	padding: 10px;
}

.input-form div {
	align-items: left;
	display: flex;
	flex-flow: column;
	width: 100%;
}

.input-form input,
input-form select,
input-form textarea {
	box-sizing: border-box;
	width: 100%;
}

.font-emphasize {
	font-weight: bold;
	font-size: 18px;
}

.font-underline {
	text-decoration: underline;
}

.err-mes {
	color: red;
}

.success-mes {
	color: var(--main-color);
}

.margin-top-50 {
	margin-top: 50px;
}

/* 点線 */
.dots-line {
	border-top: 3px dotted black;
	margin-top: 20px;
	width: 100%;
}

/* 一つ一つの商品の箱 */
.item-container {
	align-items: center;
	display: flex;
	gap: 25px;
	margin-top: 50px;
	width: 100%;
}

.item-container img {
	max-height: 80%;
	object-fit: fill;
	width: 50%;
}

.item-container form {
	height: 100%;
	width: 100%;
}

.item-container-right {
	width: 50%;
}

/* ログイン・新規登録 */
.auth-container {
	margin-top: 50px;
	height: 40vh;
}

/* 商品一覧（TOP） */
.top-banner {
	height: 500px;
	margin-bottom: 50px;
	position: relative;
}

.top-banner img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.top-banner .cover {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(249, 238, 211, 0.3);
}

.main-container h2 {
	text-align: left;
	font-size: 32px;
	font-weight: bold;
}

.category-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-align: center;
}

.category-list a {
	width: 20%;
	border-bottom: 1px solid var(--main-color);
}

.search-container {
  margin: 50px auto 0;
	width: 70%;
}

.item-list-slider {
	margin-top: 50px;
	padding-bottom: 30px;
}

.item-list-slider {
	margin-top: 50px;
	padding-bottom: 30px;
}

.item {
	display: flex;
	flex-direction: column;
	height: 65vh;
    margin: 10px;
    max-width: 100%;
	text-decoration: none;
}

.item>* {
	height: 10%;
}

.item-img {
	height: 60%;
	margin-bottom: 10px;
}

.item-img img {
	height: 100%;
	object-fit: fill;
	width: 100%;
}

.item-name {
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.item-price {
	font-size: 25px;
}

.item-quantity {
	font-size: 18px;
}

.item-quantity select {
	font-size: 18px;
	border-color: var(--main-color);
}

/* 商品詳細 */
.show-item {
	height: 70vh;
}

/* 注文 */
/* ボタン横並び */
.row-buttons {
	display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
}

/* 注文確認 */
.order-confirm-container {
    margin-top: 50px;
}

.total-price-item {
	gap: 0;
}

/* 注文完了 */
.ordered-item {
    display: flex;
    justify-content: center;
	height: 30vh;
	margin-top: 50px;
}

/* フッター */
footer {
	align-self: flex-end;
	background-color: var(--main-color);
	margin-top: 50px;
	padding-bottom: 30px;
	padding-top: 50px;
	text-align: center;
	width: 100%;
}

.footer-menu {
	margin: 0 auto 80px
}

.footer-menu-element {
	margin-top: 20px;
}

footer h1,
footer a,
footer small {
	color: var(--background-color);
}

/* 管理TOP */
.admin-function-list {
	display: flex;
	gap: 25px;
	justify-content: center;
	margin-top: 50px;
	height: 30vh;
    align-items: center;
}

.round {
	align-items: center;
	background-color: white;
	border-radius: 50%;
	display: flex;
	height: 100px;
    justify-content: center;
	padding: 20px;
	text-decoration: none;
	width: 100px;
}

/* 【管理】注文履歴一覧 */
.history-container {
	background-color: var(--background-color-with-opacity);
	display: flex;
	justify-content: center;
	width: 80%;
}

/* 【管理】商品一覧 */
.admin-item-list {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, calc(100% / 3));
	margin: 50px 0;
}

.admin-item-container {
	display: grid;
	grid-template-rows: 250px 61px 35px 25px 75px 65px;
	gap: 10px;
	height: 566px;
	margin: 10px 0;
}

.admin-item-img img {
	height: 100%;
	object-fit: fill;
	width: 100%;
}

.admin-item-name {
	font-size: 20px;
	overflow: auto;
}

.admin-item-description {
	overflow: auto;
}
