/* ヘッダー */
header {
	height: 50px;
}

.header-menu {
    align-items: center;
	display: flex;
	height: 100%;
    justify-content: space-evenly;
}

.header-menu-title {
	text-align: center;
	width: 50%;
}
.header-menu-title a {
    font-size: 25px;
    font-weight: bold;
	text-decoration: none;
}
.header-menu-element {
	text-align: center;
	width: 25%;
}

/* 共通 */
main {
	display: flex;
	justify-content: space-evenly;
}
.main-container {
	/* メインコンテンツの箱 */
	background-color: rgb(248, 248, 248);
	padding: 25px;
	width: 60%;
}
.column-center {
	/* 縦並び、中央寄せ、幅調整 */
	align-items: center;
	display: flex;
	flex-flow: column;
	gap: 20px 0;
}
.row-center {
	/* 縦並び、中央寄せ */
	display: flex;
	justify-content: center;
}
.row-space-around {
	/* 縦並び、均等配置と両端に間隔 */
	display: flex;
	justify-content: space-around;
}
.input-form {
	/* 入力フォーム */
	align-items: center;
	background-color: rgb(255, 255, 255);
	display:flex;
  	flex-flow: column;
	gap: 20px 0;
	justify-content:space-around;
	padding: 25px 0;
	width: 50%;
}
.item-container {
	/* 一つ一つの商品の箱 */
	background-color: rgb(255, 255, 255);
    width: 80%;
}
.err-mes {
	color: red;
}
.success-mes {
	color: blue;
}

/* 商品一覧（TOP） */
.category-list {
	display: flex;
	gap: 50px;
    justify-content: center;
    width: 80%;
}
.search-cotainer {
	align-items: center;
	display: flex;
	flex-flow: column;
	gap: 10px 0;
}
.item {
    display: flex;
    padding: 10px;
    text-decoration: none;
}
.item-img{
	width: 50%;
}
.item-img img{
	width: 100%;
}
.item-contents {
	align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    position: relative;
	width: 50%;
}
.item-contents span {
	padding: 0 25px;
	text-align: center;
}
.item-contents button {
	position: absolute;
    bottom: 0;
    right: 0;
}

/* 商品詳細 */
.show-item {
	gap: 0;
	padding: 25px;
}
.show-item img {
	width: 70%;
}
.show-item .dots-line {
	border-top: 3px dotted black;
	margin-top: 20px;
    width: 100%;
}

/* カート一覧・注文・注文確認 */
.cart-item {
	padding: 25px;
}
.img-title-container {
    align-items: center;
    box-sizing: border-box;
	display: flex;
	gap: 25px;
	justify-content: center;
	width: 100%;
}
.img-title-container img {
	width: 50%;
}
.img-title-container span {
	font-weight: bold;
	text-align: center;
	width: 50%;
}
.order-buttons {
	display: flex;	
	gap: 50px;
}
.total-price-item {
	background-color: rgb(255, 255, 255);
	gap: 0;
    width: 50%;
}
.total-price-item p {
	font-size: 20px;
}
.total-price-item .total-price {
	font-weight: bold;
}

/* 注文 */
/* あて先入力 */
.one-form-container {
	display: flex;
    flex-flow: column;
}

/* 注文完了 */
.ordered-item {
	background-color: rgb(255, 255, 255);
	padding: 25px;
    width: 50%;
}
.ordered-item .order-id {
	font-weight: bold;
}

/* フッター */
footer  {
	text-align: center;
}

/* 管理TOP */
.admin-function-list {
	display: flex;
    justify-content: center;
}
.round {
    align-items: center;
	background-color: white;
    border-radius: 50%;
    display: flex;
    height: 100px;
    padding: 20px;
    text-decoration: none;
}

/* 管理注文履歴一覧 */
.history-container {
	background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width: 80%;
}