<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>あて先リスト</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container column-center">
			<!-- 成功メッセージの表示 -->
			<p class="success-mes" th:if="${successMes.length > 0}">[[${successMes}]]</p>

			<a href="/addresses/add">追加</a>

			<!--あて先の表示-->
			<div
				th:unless="${accountAddressList.size() == 0}"
				th:each="accountAddress : ${accountAddressList}"
				class="item-container input-form">
				<h3>[[${accountAddress.addressName}]]</h3>
				<div>
					<span>郵便番号：</span>
					[[${accountAddress.address.postNum}]]
				</div>
				<div>
					<span>都道府県：</span>
					[[${accountAddress.address.prefecture}]]
				</div>
				<div>
					<span>市区町村：</span>
					[[${accountAddress.address.municipality}]]
				</div>
				<div>
					<span>番地：</span>
					[[${accountAddress.address.houseNum}]]
				</div>
				<div>
					<span>建物名・部屋番号：</span>
					[[${accountAddress.address.buildingNameRoomNum}]]
				</div>
				<form th:action="'/addresses/' + ${accountAddress.addressId} + '/edit'" method="get">
					<button>編集</button>
				</form>
				<form th:action="'/addresses/' + ${accountAddress.addressId} + '/delete'" method="post">
					<button>削除</button>
				</form>
			</div>
			<!--あて先がない場合-->
			<p th:if="${accountAddressList.size() == 0}">
				未登録です
			</p>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>