<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>あて先リスト画面</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container width-half">
			<!-- 成功メッセージの表示 -->
			<div class="inline-center">
				<p class="success-mes" th:if="${successMes.length > 0}">
					[[${successMes}]]
				</p>
			</div>

			<form action="/addresses/add" method="get">
				<button>追加</button>
			</form>

			<!--あて先の表示-->
			<div
				th:unless="${accountAddressList.size() == 0}"
				th:each="accountAddress : ${accountAddressList}"
				class="output-form">
				<div class="inline-center">
					<h3>[[${accountAddress.addressName}]]</h3>
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">郵便番号：</span>
					[[${accountAddress.address.postNum}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">都道府県：</span>
					[[${accountAddress.address.prefecture}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">市区町村：</span>
					[[${accountAddress.address.municipality}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">番地：</span>
					[[${accountAddress.address.houseNum}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">建物名・部屋番号：</span>
					[[${accountAddress.address.buildingNameRoomNum}]]
				</div>
				<div class="row-buttons">
					<form th:action="'/addresses/' + ${accountAddress.addressId} + '/edit'" method="get">
						<button>編集</button>
					</form>
					<form th:action="'/addresses/' + ${accountAddress.addressId} + '/delete'" method="post">
						<button>削除</button>
					</form>
				</div>
			</div>
			<!--あて先がない場合-->
			<p th:if="${accountAddressList.size() == 0}">
				未登録です
			</p>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>