<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カート一覧</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div id="cart-items" th:fragment="cart-items" class="main-container column-center">
			<div th:each="item:${@cart.items}" class="item-container column-center cart-item">
				<div class="img-title-container">
					<img th:src="@{'/img/items/' + ${item.fileName}}">
					<span th:text="${item.name}"></span>
				</div>
				<div>
					<span>価格：</span>
					<span th:utext="${@formatService.getFormattedPrice(item.price)}"></span>
				</div>
				<div>
					<span>数量：</span>
					<select name="quantity" th:onchange="'changeQuantity(' + ${item.id} + ', this.value)'">
						//在庫数分のoptionを表示
						//一覧・詳細から選択された数量を初期値に設定
						<option th:each="i : ${#numbers.sequence(1,item.stock)}" th:selected="${i == item.quantity}"　th:value="${i}" th:text="${i}"></option>										
					</select>
				</div>
				<div>
					<span>小計：</span>
					<span class="sub-total-price" th:utext="${@formatService.getFormattedPrice(item.subTotalPrice)}"></span>
				</div>
				<form action="/cart/delete" method="post">
					<input type="hidden" name="itemId" th:value="${item.id}">
					<button>削除</button>
				</form>
			</div>

			<div>
				<span>合計：</span>
				<span class="total-price" th:utext="${@formatService.getFormattedPrice(@cart.totalPrice)}"></span>
			</div>
			<a href="/order">
				<button>注文画面に進む</button>
			</a>
		</div>
	</main>

	<footer th:replace="footer"></footer>
	
	<script th:src="@{/js/common.js}"></script>
</body>
</html>