<footer>
	<nav class="footer-menu">
		<div class="footer-menu-title">
			<h1><a href="/items">Spring Shopping</a></h1>
		</div>
		<span class="footer-nemu-container">
			<th:block th:if="${@loginUser.isLogin()}">
				<div th:if="${@loginUser.isAdmin()}" class="footer-menu-element">
					<a href="/admin">管理画面</a>
				</div>
				<th:block th:if="${!@loginUser.isAdmin()}">
		     		<div class="footer-menu-element">
						<a href="/loginUser/order/histories">注文履歴</a>
				 	</div>
					<div class="footer-menu-element">
						<a href="/addresses">あて先リスト</a>
					</div>
				</th:block>
			</th:block>

			<div class="footer-menu-element">
				<th:block th:if="${@loginUser.isLogin()}">
					<a href="/logout">ログアウト</a>
				</th:block>
				<th:block th:unless="${@loginUser.isLogin()}">
					<a href="/login">新規登録 &#047; ログイン</a>
				</th:block>
			</div>
			
			
			<div class="footer-menu-element wish">
				<a href="/wishList">ほしい物リスト</a>
			</div>
			

			<div class="footer-menu-element">
				<a href="/cart">&#128722;カート</a>
			</div>
		</span>
	</nav>
	<small>&copy; KTショップ</small>
</footer>