<header>
	<nav class="header-menu">
		<div class="header-menu-title">
			<a href="/items">使いやすいショッピングサイト</a>
		</div>
		<div class="header-menu-element">
			<a href="/admin">管理画面</a>
		</div>
		<div class="header-menu-element">
			<th:block th:if="${@loginUser.isLogin()}">
				[[${@loginUser.getName()}]]
				<a th:if="${!@loginUser.isAdmin()}" href="/addresses">あて先リスト</a>
				<a href="/logout">ログアウト</a>
			</th:block>
			<th:block th:unless="${@loginUser.isLogin()}">
				<a href="/login">新規登録 &#047; ログイン</a>
			</th:block>
		</div>
		<div class="header-menu-element">
			<a href="/cart">&#128722;カート</a>
		</div>
	</nav>
</header>