<header>
	<nav class="header-menu">
		<div class="header-menu-title">
			<h1><a href="/items">Spring <br class="sp">Shopping</a></h1>
		</div>
		<span class="header-menu-container">
			<th:block th:if="${@loginUser.isLogin()}">
				<div th:if="${@loginUser.isAdmin()}">
					<a href="/admin">管理画面</a>
				</div>
				<th:block th:if="${!@loginUser.isAdmin()}">
					<div>
						<a href="/loginUser/order/histories">注文履歴</a>
					</div>
					<div>
						<a href="/addresses">あて先リスト</a>
					</div>
				</th:block>
			</th:block>

			<!--スペース用-->
			<div th:if="${!@loginUser.isLogin()}"></div>

			<div class="header-menu-login">
				<th:block th:if="${@loginUser.isLogin()}">
					[[${@loginUser.getName()}]]様
					<a href="/logout">ログアウト</a>
				</th:block>
				<th:block th:unless="${@loginUser.isLogin()}">
					<a href="/login">新規登録 &#047; ログイン</a>
				</th:block>
			</div>
			<div class="header-menu-wish">
				<th:block th:if="${@loginUser.isLogin() && !@loginUser.isAdmin()}">
					<a href="/wishList">ほしい物リスト</a>
				</th:block>
			</div>
			<div class="header-menu-cart">
				<a href="/cart">&#128722; カート</a>
			</div>
		</span>
	</nav>
</header>