<header>
	<nav class="header-menu">
		<div class="header-menu-title">
			<h1><a href="/items">使いやすい<br class="sp">ショッピングサイト</a></h1>
		</div>
		<span class="header-menu-container">
			<div>
				<a href="/admin" th:if="${@loginUser.isLogin() && @loginUser.isAdmin()}">管理画面</a>
			</div>
			<div class="header-menu-login">
				<th:block th:if="${@loginUser.isLogin()}">
					[[${@loginUser.getName()}]]
					<a th:if="${!@loginUser.isAdmin()}" href="/addresses">あて先リスト</a>
					<a href="/logout">ログアウト</a>
				</th:block>
				<th:block th:unless="${@loginUser.isLogin()}">
					<a href="/login">新規登録 &#047; ログイン</a>
				</th:block>
			</div>
			<div class="header-menu-cart">
				<a href="/cart">&#128722; カート</a>
			</div>
		</span>
	</nav>
</header>