<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>【管理】注文履歴一覧画面</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container column-center histories-container">
			<a href="/admin" class="margin-top-50">TOPに戻る</a>

			<!-- 注文履歴一覧 -->
			<div th:each="order:${orderList}" class="history-container">
				<div>
					<p>アカウント名：[[${order.acoountName}]]</p>
					<p>注文日時：[[${order.orderedDatetime}]]</p>
					<p>合計金額：<span th:utext="${@formatService.getFormattedPrice(order.totalPrice)}"></span></p>
					<p>あて先：[[${order.prefecture}]]</p>
					<p class="column-center">
						<a th:href="'/admin/order/histories/' + ${order.id}">
							詳細
						</a>
					</p>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="footer"></footer>
</body>
</html>