<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>商品一覧画面</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<script th:src="@{/js/common.js}"></script>
</head>

<body>
	<header th:replace="header"></header>

	<div class="top-banner">
		<img th:src="@{/img/common/top.jpg}" alt="">
		<span class="cover"></span>
	</div>
	<main>
		<div class="main-container" id="top">
			<p class="concept">
				KTショップの商品は全て植物由来。素材の特徴、材質をそのまま活かす。だから自然と体に馴染む。植物本来の触り心地、リラックス効果のある香り、目にやさしいカラー、暖かみ。それらで包まれた空間まるで森の中で葉の揺らぎを眺めているかのよう。本が好きなあなたへ、ゆったりとした読書時間を。
			</p>
			<h2>商品</h2>
			<!--カテゴリー表示-->
			<nav class="category-list">
				<a href="/items">全商品</a>
				<a th:each="category:${categories}" th:href="'/items?categoryId='+${category.id}">
					<span th:text="${category.name}"></span>
				</a>
			</nav>

			<!-- 検索項目 -->
			<div class="search-container">
				<form action="/items" method="get" class="column-center">
					<div>
						<div class="row-center">
							<span>商品名：</span>
							<input type="text" name="itemName" th:value="${itemName}">
						</div>
						<div class="row-space-around">
							<!--文字列の検索条件-->
		    				<th:block th:each="mp : ${matchPatterns}">
			    				<input type="radio" th:id="${mp.getKey()}" name="matchPattern"
			    					th:value="${mp.getKey()}"
			    					th:checked="${mp.getKey().equals(matchPattern)}" />
			    				<label th:for="${mp.getKey()}">[[${mp.getValue()}]]</label>
							</th:block>
						</div>
					</div>
					<div class="row-space-around">
						<span>価格：</span>
						<input type="number" name="minPrice" placeholder="下限なし" th:value="${minPrice}">
						<span>&emsp;～&emsp;</span>
						<input type="number" name="maxPrice" placeholder="上限なし" th:value="${maxPrice}">
					</div>
					<button>検索</button>
				</form>
			</div>

			<!-- 商品一覧 -->
			<div class="item-list-slider">
        		<th:block th:each="item:${items}">
					<div class="item">
						<form action="/cart/add" method="post">
							<a th:href="'/items/' + ${item.id}" class="item-img">
							<img th:if="${item.fileName.equals('')}"
								th:src="@{/img/common/no_image.jpg}">
							<img th:unless="${item.fileName.equals('')}"
								th:src="@{'/img/items/' + ${item.fileName}}">
						</a>
						<a th:href="'/items/' + ${item.id}" class="item-name">
							<span th:text="${item.name}"></span>								
						</a>
						<span th:utext="${@formatService.getFormattedPrice(item.price)}"
							class="item-price"></span>
						<span class="item-quantity">
							数量：
							<select name="quantity" th:if="${item.stock > 0}">
								//在庫数分のoptionを表示
								<option
									th:each="i : ${#numbers.sequence(1,item.stock)}"
									th:value="${i}"
									th:text="${i}"></option>
							</select>
							<span th:unless="${item.stock > 0}">在庫切れ</span>
						</span>
						<input type="hidden" name="itemId" th:value="${item.id}">
						<button th:disabled="${item.stock <= 0}">カートに追加</button>
						</form>
						<form action="/wishList/add" method="post">
							<input type="hidden" name="itemId" th:value="${item.id}">
							<button class="wish"><i class="fa-solid fa-heart"></i></button>
						</form>
					</div>
        		</th:block>
			</div>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
	
</body>
</html>