<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container column-center width-half">
			<p th:text="${@loginUser.name} + '様　ご注文履歴一覧'"></p>

			<div th:if="${loginUserOrderList.isEmpty()}" class="inline-center">
				<p>注文履歴はございません。</p>
				<a href="/items">商品一覧に戻る</a>
			</div>
			<div th:unless="${loginUserOrderList.isEmpty()}"
				th:each="order:${loginUserOrderList}" class="output-form">
				<div class="grid-1-1">
					<span class="font-bold inline-right">注文日時：</span>
					[[${order.orderedDatetime}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">合計金額：</span>
					[[${order.totalPrice}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">あて先：</span>
					[[${order.prefecture}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">注文日時：</span>
					[[${order.orderedDatetime}]]
				</div>
				<div class="inline-center">
					<a th:href="'/loginUser/order/history/' + ${order.id}">
						詳細
					</a>
				</div>
			</div>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>