<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container column-center">
			<div th:each="item:${@cart.items}" class="item-container">
				<img th:src="@{'/img/items/' + ${item.fileName}}">
				<div class="item-container-right">
					<span class="font-emphasize" th:text="${item.name}"></span>
					<p>
						<span>価格：</span>
						<span th:utext="${@formatService.getFormattedPrice(item.price)}"></span>
					</p>
					<p>
						<span>数量：</span>
						<span th:text="${item.quantity}"></span>
					</p>
					<p>
						<span>小計：</span>
						<span th:utext="${@formatService.getFormattedPrice(item.subTotalPrice)}"></span>
					</p>
				</div>
			</div>

			<!-- あて先入力欄 -->
			<form action="/order/confirm" method="post" class="input-form">
				<!-- エラーメッセージの表示 -->
				<div class="font-emphasize err-mes" th:if="${errMes.length > 0}">[[${errMes}]]</div>

				<div class="one-form-container">
					<label>郵便番号</label>
					<input type="text" name="postNum" th:value="${address.postNum}">
				</div>
				<div class="one-form-container">
					<label>都道府県</label>
					<select name="prefecture">
						<option
							th:each="prefecture:${prefectureList}"
							th:value="${prefecture}"
							th:selected="${address.isPrefectureSet(prefecture)}">
							[[${prefecture}]]
						</option>
					</select>
				</div>
				<div class="one-form-container">
					<label>市区町村</label>
					<input type="text" name="municipality" th:value="${address.municipality}">
				</div>
				<div class="one-form-container">
					<label>番地</label>
					<input type="text" name="houseNum" th:value="${address.houseNum}">
				</div>
				<div class="one-form-container">
					<label>建物名・部屋番号</label>
					<input type="text" name="buildingNameRoomNum" th:value="${address.buildingNameRoomNum}">
				</div>
			</form>

			<hr class="dots-line">

			<div class="font-emphasize">
				<span>合計：</span>
				<span th:utext="${@formatService.getFormattedPrice(@cart.totalPrice)}"></span>
			</div>

			<div class="order-buttons">
				<a href="/cart">
					<button>カートに戻る</button>
				</a>
				<button>注文内容を確認する</button>
			</div>
		</div>
	</main>
	
	<footer th:replace="footer"></footer>
</body>
</html>