<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container column-center">
			<div th:each="item:${@cart.items}" class="item-container">
				<img th:src="@{'/img/items/' + ${item.fileName}}">
				<div class="item-container-right">
					<span class="font-emphasize" th:text="${item.name}"></span>
					<p>
						<span>価格：</span>
						<span th:utext="${@formatService.getFormattedPrice(item.price)}"></span>
					</p>
					<p>
						<span>数量：</span>
						<span th:text="${item.quantity}"></span>
					</p>
					<p>
						<span>小計：</span>
						<span th:utext="${@formatService.getFormattedPrice(item.subTotalPrice)}"></span>
					</p>
				</div>
			</div>

			<!-- あて先入力欄 -->
			<form action="/order/confirm" method="post" class="input-form"
				id="address-form" th:fragment="address-form">
				<!-- エラーメッセージの表示 -->
				<div class="font-emphasize err-mes" th:if="${errMes.length > 0}">[[${errMes}]]</div>

				<!-- あて先リストの表示 -->
				<select onchange="changeAddress(this.value)">
					<!--手入力　＋　あて先リストの内容-->
					<option th:selected="${selectedAddressId == 0}"
						value="0">0. 手入力</option>										
					<option
						th:if="${accountAddressList != null}"
						th:each="address, stat : ${accountAddressList}"
						th:selected="${selectedAddressId == address.addressId}"
						th:value="${address.addressId}" th:text="${stat.count} + '. ' + ${address.addressName}"></option>										
				</select>

				<div class="one-form-container">
					<label>郵便番号</label>
					<input type="text" name="postNum" th:value="${address.postNum}"
						th:disabled="${selectedAddressId != 0}">
				</div>
				<div>
					<label>都道府県</label>
					<select name="prefecture" th:disabled="${selectedAddressId != 0}">
						<option
							th:each="prefecture:${prefectureList}"
							th:value="${prefecture}"
							th:selected="${address.isPrefectureSet(prefecture)}">
							[[${prefecture}]]
						</option>
					</select>
				</div>
				<div>
					<label>市区町村</label>
					<input type="text" name="municipality" th:value="${address.municipality}"
						th:disabled="${selectedAddressId != 0}">
				</div>
				<div>
					<label>番地</label>
					<input type="text" name="houseNum" th:value="${address.houseNum}"
						th:disabled="${selectedAddressId != 0}">
				</div>
				<div>
					<label>建物名・部屋番号</label>
					<input type="text" name="buildingNameRoomNum"
						th:value="${address.buildingNameRoomNum}"
						th:disabled="${selectedAddressId != 0}">
				</div>

				<!-- あて先リストから取得した情報をサーバーに送るため（disbledで値が消えてしまう） -->
				<th:block th:if="${selectedAddressId != 0}">
					<input type="hidden" name="postNum" th:value="${address.postNum}">
					<input type="hidden" name="prefecture" th:value="${address.prefecture}">
					<input type="hidden" name="municipality" th:value="${address.municipality}">
					<input type="hidden" name="houseNum" th:value="${address.houseNum}">
					<input type="hidden" name="buildingNameRoomNum" th:value="${address.buildingNameRoomNum}">
				</th:block>

				<button>注文内容を確認する</button>
			</form>

			<hr class="dots-line">

			<div class="font-emphasize">
				<span>合計：</span>
				<span th:utext="${@formatService.getFormattedPrice(@cart.totalPrice)}"></span>
			</div>

			<a href="/cart">カートに戻る</a>

    </div>
	</main>
	
	<footer th:replace="footer"></footer>
</body>
</html>