<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文内容確認画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container column-center">
			<div class="column-center total-price-item">
				<p>請求額</p>
				<p class="total-price" th:text="${@cart.totalPrice}"></p>
			</div>

			<form action="/order"  method="post">
				<input type="hidden" name="postNum" th:value="${confirmedAddress.postNum}">
				<input type="hidden" name="prefecture" th:value="${confirmedAddress.prefecture}">
				<input type="hidden" name="municipality" th:value="${confirmedAddress.municipality}">
				<input type="hidden" name="houseNum" th:value="${confirmedAddress.houseNum}">
				<input type="hidden" name="buildingNameRoomNum" th:value="${confirmedAddress.buildingNameRoomNum}">
				<button>この内容で注文</button>
			</form>

			<!-- あて先表示 -->
			<div class="input-form">
				<div>
					<spqn>郵便番号：</spqn>
					[[${confirmedAddress.postNum}]]
				</div>
				<div>
					<spqn>都道府県：</spqn>
					[[${confirmedAddress.prefecture}]]
				</div>
				<div>
					<spqn>市区町村：</spqn>
					[[${confirmedAddress.municipality}]]
				</div>
				<div>
					<spqn>番地：</spqn>
					[[${confirmedAddress.houseNum}]]
				</div>
				<div>
					<spqn>建物名・部屋番号：</spqn>
					[[${confirmedAddress.buildingNameRoomNum}]]
				</div>
			</div>

			<div class="column-center">
				<div th:each="item:${@cart.items}" class="item-container column-center cart-item">
					<div class="img-title-container">
						<img th:src="@{'/img/products/' + ${item.fileName}}">
						<span th:text="${item.name}"></span>
					</div>
					<div>
						<span>価格</span>
						<span th:text="${item.price}"></span>
					</div>
					<div>
						<span>数量</span>
						<span th:text="${item.quantity}"></span>
					</div>
				</div>
			</div>
		</div>
	</main>


	<footer th:replace="footer"></footer>
</body>
</html>