<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文内容確認画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container column-center">
			<div class="column-center order-confirm-container">
				<a href="/order">注文画面に戻る</a>

				<form action="/order" method="post">
					<input type="hidden" name="postNum" th:value="${confirmedAddress.postNum}">
					<input type="hidden" name="prefecture" th:value="${confirmedAddress.prefecture}">
					<input type="hidden" name="municipality" th:value="${confirmedAddress.municipality}">
					<input type="hidden" name="houseNum" th:value="${confirmedAddress.houseNum}">
					<input type="hidden" name="buildingNameRoomNum" th:value="${confirmedAddress.buildingNameRoomNum}">
					<button>この内容で注文</button>
				</form>
	
				<div class="column-center total-price-item font-emphasize">
					<p>請求額</p>
					<p th:utext="${@formatService.getFormattedPrice(@cart.totalPrice)}"></p>
				</div>

				<hr class="dots-line">

				<!-- あて先表示 -->
				<p class="font-emphasize font-underline">お届け先</p>
				<div class="input-form">
					<div>
						<span>郵便番号：</span>
						[[${confirmedAddress.postNum}]]
					</div>
					<div>
						<span>都道府県：</span>
						[[${confirmedAddress.prefecture}]]
					</div>
					<div>
						<span>市区町村：</span>
						[[${confirmedAddress.municipality}]]
					</div>
					<div>
						<span>番地：</span>
						[[${confirmedAddress.houseNum}]]
					</div>
					<div>
						<span>建物名・部屋番号：</span>
						[[${confirmedAddress.buildingNameRoomNum}]]
					</div>
				</div>

				<hr class="dots-line">

				<div class="column-center">
					<div th:each="item:${@cart.items}" class="item-container">
						<img th:src="@{'/img/items/' + ${item.fileName}}">
						<div class="item-container-right">
							<span class="font-emphasize" th:text="${item.name}"></span>
							<p>
								<span>価格</span>
								<span th:utext="${@formatService.getFormattedPrice(item.price)}"></span>
							</p>
							<p>
								<span>数量</span>
								<span th:text="${item.quantity}"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<footer th:replace="footer"></footer>
</body>
</html>