<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container column-center">
			<div th:each="item:${@cart.items}" class="item-container column-center cart-item">
				<div class="img-title-container">
					<img th:src="@{/img/sample_test1.jpg}">
					<span th:text="${item.name}"></span>
				</div>
				<div>
					<span>価格</span>
					<span th:text="${item.price}"></span>
				</div>
				<div>
					<span>数量</span>
					<span th:text="${item.quantity}"></span>
				</div>
				<div>
					<span>小計</span>
					<span th:text="${item.subTotalPrice}"></span>
				</div>
			</div>

			<div>
				<span>合計</span>
				<span th:text="${@cart.totalPrice}"></span>
			</div>
			<div class="order-buttons">
				<a href="/cart">
					<button>カートに戻る</button>
				</a>
				<a href="/order/confirm">
					<button>注文内容を確認する</button>
				</a>
			</div>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>