<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文内容確認画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container column-center">
			<div class="column-center ordered-item">
				<p>注文が確定しました。</p>
				<div>
					<span>注文番号：</span>
					<span class="order-id" th:text="${orderId}"></span>
				</div>
				<a href="/items">買い物を続ける</a>
			</div>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>