<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container width-half">
			<form action="/register" method="post" class="input-form">
				<!-- エラーメッセージの表示 -->
				<p class="err-mes" th:if="${errMes.length > 0}">[[${errMes}]]</p>

				<div>
					<label class="required">名前</label>
					<input type="text" name="name" th:value="${name}">					
				</div>
				<div>
					<label class="required">メールアドレス</label>
					<input type="email" name="email" th:value="${email}">					
				</div>
				<div>
					<label class="required">パスワード</label>
					<input type="password" name="password" th:value="${password}">					
				</div>
				<button>新規登録</button>
			</form>

			<div class="inline-center">
				<a href="/login">＜ ログイン画面に戻る</a>
			</div>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>