<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container column-center">
			<form action="/register" method="post" class="input-form">
				<!-- エラーメッセージの表示 -->
				<p class="font-emphasize err-mes" th:if="${errMes.length > 0}">[[${errMes}]]</p>

				<div>
					<span>名前</span>
					<input type="text" name="name" th:value="${name}">					
				</div>
				<div>
					<span>メールアドレス</span>
					<input type="email" name="email" th:value="${email}">					
				</div>
				<div>
					<span>パスワード</span>
					<input type="password" name="password" th:value="${password}">					
				</div>
				<input type="submit" value="新規登録">
			</form>
		</div>
	</main>

	<footer th:replace="footer"></footer>
</body>
</html>