<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container column-center">
			<div class="item-container show-item">
				<img th:if="${item.fileName.equals('')}"
					th:src="@{/img/common/no_image.jpg}">
				<img th:unless="${item.fileName.equals('')}"
					th:src="@{'/img/items/' + ${item.fileName}}">

				<div class="item-container-right">
					<span class="font-emphasize" th:text="${item.name}"></span>
					<p>価格：
						<span th:utext="${@formatService.getFormattedPrice(item.price)}"></span>
					</p>

					<p>説明文：
						<span th:text="${item.description}"></span>
					</p>

					<hr class="dots-line">

					<form action="/cart/add" method="post">
						<span class="grid-1-4">
							数量：
							<select name="quantity" th:if="${item.stock > 0}">
								//在庫数分のoptionを表示
								<option
									th:each="i : ${#numbers.sequence(1,item.stock)}"
									th:value="${i}"
									th:text="${i}"></option>
							</select>
							<span th:unless="${item.stock > 0}">在庫切れ</span>
						</span>
						<span>
							<input type="hidden" name="itemId" th:value="${item.id}">
							<button th:disabled="${item.stock <= 0}">カートに追加</button>
						</span>
					</form>
				</div>
			</div>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>