<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>【管理】注文内容確認画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<hr>

	<main>
		<div class="main-container width-half">
			<a href="/admin/order/histories">＜ 一覧画面に戻る</a>

			<!-- 注文履歴概要 -->
			<div class="output-form">
				<div class="grid-1-1">
					<span class="font-bold inline-right">アカウント名：</span>
					[[${orderInfo.acoountName}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">注文日時：</span>
					[[${orderInfo.orderedDatetime}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">合計金額：</span>
					<span th:utext="${@formatService.getFormattedPrice(orderInfo.totalPrice)}"></span>
				</div>
			</div>

			<!-- あて先表示 -->
			<div class="output-form">
				<div class="inline-center">
					<h3>あて先</h3>
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">郵便番号：</span>
					[[${orderInfo.postNum}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">都道府県：</span>
					[[${orderInfo.prefecture}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">市区町村：</span>
					[[${orderInfo.municipality}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">番地：</span>
					[[${orderInfo.houseNum}]]
				</div>
				<div class="grid-1-1">
					<span class="font-bold inline-right">建物名・部屋番号：</span>
					[[${orderInfo.buildingNameRoomNum}]]
				</div>
			</div>

			<hr class="dots-line">

			<!-- 商品履歴詳細 -->
			<div th:each="orderHistoryDetail:${orderHistoryDetailList}" class="item-container">
				<img th:if="${orderHistoryDetail.fileName.equals('')}"
					th:src="@{/img/common/no_image.jpg}">
				<img th:unless="${orderHistoryDetail.fileName.equals('')}"
					th:src="@{'/img/items/' + ${orderHistoryDetail.fileName}}">

				<div class="item-container-right">
					<span class="font-emphasize" th:text="${orderHistoryDetail.itemName}"></span>
					<div>
						<span>価格</span>
						<span th:utext="${@formatService.getFormattedPrice(orderHistoryDetail.itemPrice)}"></span>
					</div>
					<div>
						<span>数量</span>
						<span th:text="${orderHistoryDetail.quantity}"></span>
					</div>
				</div>
			</div>
		</div>
	</main>

	<hr>

	<footer th:replace="footer"></footer>
</body>
</html>