<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>【管理】注文内容確認画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container column-center">
			<a href="/admin/order/histories" class="margin-top-50">一覧画面に戻る</a>

			<!-- 注文履歴概要 -->
			<div class="history-container">
				<div>
					<p>アカウント名：[[${orderInfo.acoountName}]]</p>
					<p>注文日時：[[${orderInfo.orderedDatetime}]]</p>
					<p>合計金額：<span th:utext="${@formatService.getFormattedPrice(orderInfo.totalPrice)}"></span></p>
				</div>
			</div>

			<!-- あて先表示 -->
			<div class="input-form">
				<strong>あて先</strong>
				<div>
					<span>郵便番号：</span>
					[[${orderInfo.postNum}]]
				</div>
				<div>
					<span>都道府県：</span>
					[[${orderInfo.prefecture}]]
				</div>
				<div>
					<span>市区町村：</span>
					[[${orderInfo.municipality}]]
				</div>
				<div>
					<span>番地：</span>
					[[${orderInfo.houseNum}]]
				</div>
				<div>
					<span>建物名・部屋番号：</span>
					[[${orderInfo.buildingNameRoomNum}]]
				</div>
			</div>

			<hr class="dots-line">

			<!-- 商品履歴詳細 -->
			<div class="column-center">
				<div th:each="orderHistoryDetail:${orderHistoryDetailList}" class="item-container">
					<img th:src="@{'/img/items/' + ${orderHistoryDetail.fileName}}">
					<div class="item-container-right">
						<span class="font-emphasize" th:text="${orderHistoryDetail.itemName}"></span>
						<div>
							<span>価格</span>
							<span th:utext="${@formatService.getFormattedPrice(orderHistoryDetail.itemPrice)}"></span>
						</div>
						<div>
							<span>数量</span>
							<span th:text="${orderHistoryDetail.quantity}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="footer"></footer>
</body>
</html>