<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ほしい物リスト一覧</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<header th:replace="header"></header>

	<main>
		<div class="main-container" id="wish-list">
			<h3 class="text-emphasize">欲しいものリスト一覧</h3>
			<div th:if="${wishList.isEmpty()}">
				<p>欲しいものリストはございません。</p>
				<a href="/items">TOPに戻る</a>
			</div>
			<div class="wish-list" th:each="wishList: ${wishList}">
				<span class="wish-list-img">
					<img th:src="@{'/img/items/' + ${wishList.fileName}}">
				</span>
				<span class="wish-list-content">
					<p th:text="${wishList.name}" class="text-emphasize"></p>
					<a th:href="'/items/' + ${wishList.itemId}">詳細へ</a>
				</span>
				<span class="wish-list-delete">
					<form action="/wishList/delete" method="post">
						<input type="hidden" name="id" th:value="${wishList.id}">
						<button>削除</button>
					</form>
				</span>
			</div>
		</div>
	</main>

	<footer th:replace="footer"></footer>

	<script th:src="@{/js/common.js}"></script>
</body>

</html>